streamlit>=1.22.0
beautifulsoup4>=4.11.1
faiss-cpu>=1.7.2
numpy>=1.22.3
pandas>=1.4.2
plotly>=5.6.0
pypdf2>=2.10.5
pytrends>=4.8.0
trafilatura>=1.2.2
torch>=1.12.0
beautifulsoup4
faiss-cpu
numpy
pandas
plotly
pypdf2
pytrends
streamlit
torch
trafilatura
